# personal notes, scribbles
/activate.txt
/z-other-resources
/cli-commands.txt

# mlflow runs folders, mostly unused / empty
mlruns/

# mlflow db, prefect db, etc
/*.db

# virtual env
.venv/

# notebook checkpoints
.ipynb_checkpoints/

# pycache
__pycache__/