# personal notes, scribbles
/activate.txt
/z-other-resources
/cli-commands.txt

# mlflow runs folders, mostly unused / empty
mlruns/

# mlflow db, prefect db, etc
/*.db

# virtual env and environment files
.venv/
.env

# notebook checkpoints
.ipynb_checkpoints/

# py cache, pytest cache
__pycache__/
.pytest_cache/

# vs code settings
.vscode/
